.userList {
  width: 100%;
  max-width: 1200px; // Ограничиваем максимальную ширину
  margin: 0 auto; // Центрируем контейнер
  max-height: 720px;


}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
  color: #666; 
  font-size: 14px; 
  position: relative;

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px; 
    background-color: #ccc;
    margin: 0 60px; 
  }
}


.userList::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}


.userList::-webkit-scrollbar-thumb {
  background: transparent; 
}