.text {
    width: 113px;
    height: 28px;
    padding-left: 20px;
    margin-bottom: 10px;

.name {
    width: 76px;
    height: 28px;
    display: flex;
    font-family: 'Inter', sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: 0%;
}
}
@media (max-width: 375px) {
    .text {
        display: none;
    }
    .name {
        display: none;
    }
}