

.container {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-bottom: 10px;

}

.inputContainer {
  position: relative; 
  width: 100%; 
}

  .inputs{
      width: 1248px;
      height: 40px;
      border: 1px;
      outline: none;
      list-style-type:none;
       background-color:whitesmoke;
      margin-bottom: 20px;
      border-radius: 10px;
      padding-left: 40px;
  }

.buttonStart {
  position: absolute;
  top: 34%;
  left: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px; // Размер иконки
    height: 20px;
  }
}
.buttonEnd {
  position: absolute;
  left: 97%;
  top: 34%; 
  transform: translateY(-50%); 
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px; 
    height: 20px;
  }
}


