.button_out {
  width: 1280px;
  height: 60px;
  margin: 0;
}

.backButton {
  display: flex;
  background: none;
  border: none;
  color: #6534ff;
  font-size: 16px;
  cursor: pointer;
  padding-top: 20px;
  padding-left: 20px;

  &:hover {
    text-decoration: underline;
  }
}

.header {
  width: 1280px;
  height: 280px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #f7f7f8;
}

.avatar {
  width: 104px;
  height: 104px;
  border-radius: 64px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.userIdentity {
  display: flex;
  align-items: center;
  justify-content: center;
}
.name {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  padding-right: 10px;
}

.userTag {
  font-family: Inter;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #97979b;
}

.department {
  font-family: "Inter", sans-serif;
  color: #55555c;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}

.details {
  margin-top: 20px;
}

.detailItem {
  display: flex;
  height: 44px;
  gap: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.label {
  margin-right: 10px;
}

.value {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
vertical-align: bottom;

  color: #333;
}
.img_phone {
  width: 20px;
height: 20px;
top: 2.04px;
left: 1.98px;
margin-right: 10px;

}
