@use './style/variables.scss' as vars; // Импортируем переменные

body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: vars.$max-width; // Используем переменные через неймспейс
  max-height: vars.$max-height;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 375px) {
  body {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 375px;
    margin: 0 auto;
    align-items: center;
  }
  
}
