@use './style/variables.scss' as vars;

body {
  margin: 0;
  padding: 0;
}

.container {
  width: vars.$max-width;
  height: vars.$max-height;
  margin: 0 auto;
  align-items: center;
}


@media (min-width: 320px) and (max-width: 1439px) {
  .container {
    width: 100%; 
  }
}

